
:root {
  --cor-primaria: #1c3b77;
  --cor-fundo: #fbff00;
  --cor-destaque: #C84B31;
  --cor-texto: #2D3748;
}

body {
    background-color: #fbff04;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 20px;
}
header { background-color: #f5f5f7;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 10px; }



    body {
    background-color: #ffffff;
    color: #2d3748;
    font-family: Arial, sans-serif;
    margin: 20px;
}


nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #c84b31;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #c84b31;
    padding: 10px; }



    body {
    background-color: #6d6161;
    color: #425195;
    font-family: sans-serif;
}
header {
    border-bottom: 2px solid #6e1723;
    padding: 10px;
}
nav a {
    color: #841d27;
    text-decoration: none;
    font-weight: bold;
}
main {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}
footer {
    text-align: center;
    font-size: 12px;
    color: gray;
}

img{width:70% ;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-top: 10px;
}

body {
    background-color: #642020;
    color: #3c3aad;
    font-family: Arial, sans-serif;
    margin: 20px;
}
header { background-color: #f1f1f5;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 10px; }

    h2 {margin-top: 40px;
    margin-bottom: 20px;}

    :root {
  --cor-primaria: #0F2042;
  --cor-fundo: #F4EFEA;
  --cor-destaque: #C84B31;
  --cor-texto: #2D3748;
}

body {
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 20px;
}
header { background-color: #f5f5f7;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 10px; }



    body {
    background-color: #ffffff;
    color: #2d3748;
    font-family: Arial, sans-serif;
    margin: 20px;
}


nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #c84b31;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #c84b31;
    padding: 10px; }



    body {
    background-color: #6d6161;
    color: #425195;
    font-family: sans-serif;
}
header {
    border-bottom: 2px solid #6e1723;
    padding: 10px;
}
nav a {
    color: #841d27;
    text-decoration: none;
    font-weight: bold;
}
main {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}
footer {
    text-align: center;
    font-size: 12px;
    color: gray;
}

img{width:70% ;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-top: 10px;
}

body {
    background-color: #ffffff;
    color: #3c3aad;
    font-family: Arial, sans-serif;
    margin: 20px;
}
header { background-color: #f1f1f5;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}
nav { margin: 15px 0; }

main {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}
footer {
    margin-top: 20px;
    border-top: 1px solid #fc0202;
    padding: 10px; }

    h2 {margin-top: 40px;
    margin-bottom: 20px;}



    :root{
  --verde:#0B6E4F;
  --verde-hover:#09543D;
  --azul:#0A3D91;
  --azul-claro:#0A66C2;
  --dourado:#F4C430;
  --dourado;#f4C430
  --branco:#FFFFFF;

  
}

body{
  margin:0;
  padding:0;

  font-family:Arial,Helvetica,sans-serif;
}

h1,h2,h3,h4,h5,h6{
  color:var(--azul);
}

.card{
  background:var(--branco);
  border-radius:20px;
  box-shadow:0 8px 25px rgba(0,0,0,.08);
  padding:25px;
}

button,
.btn{
  background:var(--verde);
  color:#fffb00;
  border:none;
  border-radius:12px;
  padding:12px 24px;
  transition:.3s;
}

button:hover,
.btn:hover{
  background:var(--verde-hover);
}

a{
  color:var(--azul-claro);
  text-decoration:none;
}

a:hover{
  color:var(--azul);
}

#historia{
  border-left:6px solid var(--azul);
}

#origem{
  border-left:6px solid var(--verde);
}

#lendas{
  border-left:6px solid var(--dourado);
}

#bastidores{
      border-left:6px solid var(--dourado);
}


html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding-top:80px;
}

.navbar{
   position: static;
    top:0;
    left:0;
    width:100%;
    background:#0A3D91;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:20px;
    z-index:9999;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.navbar a:hover{
    color:#F4C430;
}

section{
    padding:100px 40px;
    min-height:100vh;
}


:root{
    --primary:#003B95;
    --secondary:#00AEEF;
    --gold:#FFD700;
    --dark:#001B44;
    --light:#F4F8FC;
    --white:#FFFFFF;
    --text:#1E293B;
}

body{
    margin:0;
    padding:0;
    background:linear-gradient(180deg,#F4F8FC,#EAF3FF);
    color:var(--text);
    font-family:Arial,Helvetica,sans-serif;
}

.navbar{
    background:linear-gradient(90deg,var(--primary),var(--secondary));
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.navbar a{
    color:var(--white);
    font-weight:700;
    transition:.3s;
}

.navbar a:hover{
    color:var(--gold);
}

h1,h2,h3,h4,h5,h6{
    color:var(--primary);
}

.card{
    background:var(--white);
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.12);
    border-top:5px solid var(--gold);
}

button,
.btn{
    background:linear-gradient(90deg,var(--primary),var(--secondary));
    color:var(--white);
    border:none;
    border-radius:12px;
}

button:hover,
.btn:hover{
    background:linear-gradient(90deg,var(--secondary),var(--primary));
}

a{
    color:var(--primary);
}

a:hover{
    color:var(--gold);
}
{background-color: #0057B8;}